<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dapeng.base_lib">

    <application>
        <activity android:name=".aaatest.TestAdapterActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.dapeng.base_lib.librarystartup.BuglyInit"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.dapeng.base_lib.librarystartup.XutilsInit"
                android:value="androidx.startup" />
            <!-- <meta-data -->
            <!-- android:name="com.dapeng.base_lib.librarystartup.BaiDuMapInit" -->
            <!-- android:value="androidx.startup" /> -->
        </provider>

        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
    </application>

</manifest>